body{
	background-image: url('/img/crossed_stripes.png');
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}

header{
	background: #191919;
	height:50px;
	font-family: 'Satisfy', cursive;
	font-size:30px;
	color:orange;
}

.denied_button{
    background-color: red;
}

.user_info{
    margin-top: 14px;
    float: right;
}

.regular_text{
    font-family: Times;
    color: orange;
    font-size: 17px;
}

.regular_text a{
    color: green;
    text-decoration: none;
}

.regular_text a:hover{
    color: white;
    text-decoration: underline;
}

.error_msg{
    font-family: Times;
    color: red;
    font-size: 15px;
}

.header_wrapper{
	width:950px;
	margin:0 auto;
}

.login{
    margin-top: -3px;
	float: right;
}

.login input[type=text], .login input[type=password]{
	background: #fff;
	border-radius: 3px;
	border: 0px;
	padding: 3px;

}

.login input[type=submit]{
	border:0;
	cursor: pointer;
	border-radius: 3px;
	padding: 3px;
	font-weight: bold;
	width: 60px;
}

.login input[type=submit]:hover{
	background: white;
}

.logo_image{
    
}

main{
	background: #DADADA;
	width: 976px;
	min-height: 600px;
	margin: 0 auto;
	border-radius: 0px 0px 10px 10px;
	box-sizing:border-box;
	z-index: 10;
	position: relative;
    font-family: 'Dosis', sans-serif;
}

nav{
	width: 976px;
}

/* Main */
#menu {
    width: 100%;
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;  
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 0px;
    box-shadow: 0 2px 1px #9c9c9c;
}

#menu li {
    float: left;
    padding: 0 0 10px 0;
    position: relative;
    height: 25px;
}

#menu li a{
	border-right: 1px solid gray;
}

#menu a {
    float: left;
    height: 25px;
    padding: 4px 25px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu li:hover > a {
    color: #fafafa;
}

*html #menu li a:hover { /* IE6 */
    color: #fafafa;
}

#menu li:hover > ul {
    display: block;
}

/* Sub-menu */
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    min-width: 130px;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background-color: #444;   
    background-image: linear-gradient(#444, #111);    
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li {
    float: none;
    margin: 0;
    padding-bottom: 7px;
    display: block;  
    box-shadow: 0 1px 0 #111111, 
                0 2px 0 #777777;
}

#menu ul li:last-child { 
    box-shadow: none;    
}

#menu ul a {    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #menu ul a { /* IE6 */   
    height: 10px;
    width: 150px;
}

*:first-child+html #menu ul a { /* IE7 */    
    height: 10px;
    width: 150px;
}

#menu ul a:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}

#menu ul li:first-child a {
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}

#menu ul li:last-child a {
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */

section .main_content_area{

}

.contact_form_container{
	position: relative;
	margin: 0 auto;
	width: 300px;
	top: 150px;
	margin-bottom: 400px;
}

.contact_form_container input[type=text]{
	border: 1px solid #B8B8B8;
	padding: 5px;
	border-radius: 3px;
}

.contact_form_container textarea{
	border-radius: 3px;
	border: 1px solid #B8B8B8;
	resize: none;
}

.copyright_line{
	position: relative;
	font-size: 12px;
	text-align: center;
	margin-top: 130px;
	color: #B8B8B8;
}


footer{
	position: relative;
	background: black;
	background-image: url('/img/office.png');
	height: 200px;
	margin-top: -20px;
	z-index:0;
	box-shadow: ;
}

.footer_wrapper{
	position: relative;
	width: 800px;
	height: 145px;
	margin: 0 auto;
	top: 30px;
	color: white;
}

.footer_wrapper a{
	font-size: 17px;
	color: gray;
}

.footer_wrapper a:hover{
	text-decoration: none;
}