<div class="header_wrapper">
	KrisV.net
	{% if username == "admin" %}
	<div class="user_info regular_text">
	Welcome, {{username}} | <a href="/logout">Logout</a>
	</div>
	{% else %}
	<div class="login">
		<form method="POST" name="login_form">
			<input type="text" name="username" placeholder="Username...">
			<input type="password" name="password" placeholder="Password...">
			{% if error %}
			<input class="denied_button" type="submit" value="Denied">
			{% else %}
			<input type="submit" value="Login">
			{% endif %}
		</form>
	</div>
	{% endif %}
</div>
