<!DOCTYPE HTML> 
<html>
<!-- <div class="menu">
	<div class="menu-buttons"><button id="natural-code-btn">Natural Code</button> | <button id="apps-btn">Apps</button> | <button id="technology-btn">Technology</button> | About</div>			
</div> -->
<head>
	<link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="/static/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="/static/main.css">

</head>


<body>

	<ul class="parallax">
		<li class="header">
		<div id="header">
			<div class="parallax-background header">
			<div class="banner">
				<div style="position: relative; margin-left: 150px; margin-top: -5px;">
					
				</div>
			</div>
						<div class="menu-section-one">

				<div class="top-menu-button">
					<a href="/">
					<img src="/img/icons/64x64/home.png">
					<center>Home</center>
					</a>
				</div>

				<div class="top-menu-button" style="margin-left: 120px;">
					<div id="portfolio-btn">
					<img src="/img/icons/64x64/folder.png">
					<center>Portfolio</center>
					</div>
				</div>

				<div class="top-menu-button" style="margin-left: 240px;">
					<div id="code-btn">
					<img src="/img/icons/64x64/monitor.png">
					<center>Code</center>
					</div>
				</div>

				<div class="top-menu-button" style="margin-left: 360px;">
					<div id="design-btn">
					<img src="/img/icons/64x64/palette.png">
					<center>Design</center>
					</div>
				</div>

			</div>
				
			<div class="menu-section-two">

				<div class="top-menu-button">
					<div id="world-btn">
					<img src="/img/icons/64x64/world.png">
					<center>World</center>
					</div>
				</div>

				<div class="top-menu-button" style="margin-left: 120px;"> 
					<div id="science-btn">
					<img src="/img/icons/64x64/puzzle.png">
					<center>Science</center>
					</div>
				</div>

				<div class="top-menu-button" style="margin-left: 240px;">
					<div id="blog-btn">
					<img src="/img/icons/64x64/comment.png">
					<center>Blog</center>
					</div>
				</div>

				<div class="top-menu-button" style="margin-left: 360px;">
					<div id="contact-btn">
					<img src="/img/icons/64x64/user.png">
					<center>Contact</center>
					</div>
				</div>
				<div id="develop-graphic"></div>
				<div id="learn-graphic"></div> 
				<div id="inform-graphic"></div> 
				<div id="contribute-graphic"></div>
				<div id="change-graphic"></div> 
				<div id="inspire-graphic"></div>
				<div id="mac-logo"></div>
				<div id="sublime-window"></div>
				<div id="sublime-file-menu"></div>
				<div id="blue-earth"></div>
				<div id="rocket"><div id="rocket-fire"></div></div>
				<div id="launch-button"></div>
				<div id="binary-screen"></div>
				<div id="aurora-screen"></div>
				<div id="mac-pointer"></div>
			</div><!--End of menu-section-two-->
			<span id="code-for-tomorrow"><h1>Coding for <span>Tomorrow</span></h1></span>
				<span id="natural-digital">
					<span id="natural-world"><h1>Merging the <span style="color: #009933;">Natural</span> World...</span>
					<span id="digital-world">With the <span style="color: #33CCFF;">Digital</span></h1></span>
				</span>

			<div class="subcontent">


			</div><!--End of subcontent-->
			</div><!--End of parallax-background frame-1-->
		</div>
		</li>

		<li id="portfolio">
			<div class="parallax-background portfolio"></div>
			<div class="subcontent">
				<div class="slideshow">
					<ul class="slides">
						<li class="slide" style="background: blue;"><img src="http://i.dailymail.co.uk/i/pix/2013/11/28/article-2514914-1B6131FB000005DC-309_634x372.jpg"></li>
						<li class="slide" style="background: green;"><img src="http://i.dailymail.co.uk/i/pix/2013/11/28/article-2514914-1B6131FB000005DC-309_634x372.jpg"></li>
						<li class="slide" style="background: yellow;"><img src="http://i.dailymail.co.uk/i/pix/2013/11/28/article-2514914-1B6131FB000005DC-309_634x372.jpg"></li>
					</ul>
				</div>
			</div>
		</li>

		<li id="coding">
			<div class="parallax-background coding"></div>
			<div class="subcontent">
			</div>
		</li>

		<li id="code">
			<div class="parallax-background code"></div>
			<div class="subcontent">
			CODE
			</div>
		</li>

		<li id="design">
			<div class="parallax-background design"></div>
			<div class="subcontent">
			DESIGN
			</div>
		</li>

		<li id="world">
			<div class="parallax-background world"></div>
			<div class="subcontent">
			WORLD
			</div>
		</li>

		<li id="science">
			<div class="parallax-background science"></div>
			<div class="subcontent">
			SCIENCE
			</div>
		</li>

		<li id="blog">
			<div class="parallax-background blog"></div>
			<div class="subcontent">
			BLOG
			</div>
		</li>



		<li id="footer">
			<div class="parallax-background footer"></div>
			<div class="subcontent">		
				dsadsad
			</div>
		</li>
	</ul>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/jquery.firefly.js"></script>
	<script src="/static/js/jquery.bxslider.min.js"></script>
	<script src="/static/js/main.js"></script>
	<script>
		window_size = $(window).height(); 
		console.log(window_size);
		$('.header').height(window_size);
		$('.parallax-background.header').height(window_size+250);
	</script>
</body>

</html>