<ul id="menu">
    <li><a href="/"><i class="fa fa-home fa-2x"></i> Home</a></li>
    <li>
        <a href="#"><i class="fa fa-code fa-2x"></i> Coding</a>
        <ul>
            <li><a href="#">HTML5</a></li>
            <li><a href="#">CSS3</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">Python</a></li>
            <li><a href="#">PHP</a></li>
            <li><a href="#">MySQL</a></li>
            <li><a href="#">C</a></li>
            <li><a href="#">C++</a></li>
        </ul>
    </li>
    <li><a href="#"><i class="fa fa-file-text-o fa-2x"></i> Blog</a></li>
    <li><a href="#"><i class="fa fa-flask fa-2x"></i> Science</a></li>
    <li><a href="#"><i class="fa fa-folder-open fa-2x"></i> Work</a></li>
    <li><a href="#"><i class="fa fa-thumbs-down fa-2x"></i> School</a></li>
    <li><a href="#"><i class="fa fa-play-circle fa-2x"></i> Media</a></li>
    <li><a href="/contact"><i class="fa fa-envelope fa-2x"></i> Contact</a></li>
</ul>